pkgbase = htop-vim-git
	pkgdesc = Interactive text-mode process viewer. Patched for vim keybindings
	pkgver = 1077.402e46b
	pkgrel = 1
	url = https://github.com/hishamhm/htop
	arch = i686
	arch = x86_64
	arch = armv7h
	license = GPL
	makedepends = git
	makedepends = python2
	depends = ncurses
	optdepends = lsof: list open files for running process
	optdepends = strace: attach to running process
	provides = htop
	conflicts = htop
	conflicts = htop-git
	options = !emptydirs
	source = git+https://github.com/hishamhm/htop.git
	source = vim-keybindings.patch
	sha256sums = SKIP
	sha256sums = ab1df29dc5a73d8e723137ffc767d2592e6024b6a6ffeb13e7c967f04008a255

pkgname = htop-vim-git

