pkgbase = vcvrack-git
	pkgdesc = Open-source virtual modular synthesizer
	pkgver = 0.5.1.r64.gca5d43e
	pkgrel = 1
	url = https://vcvrack.com/
	arch = i686
	arch = x86_64
	license = BSD
	makedepends = git
	makedepends = cmake
	depends = glew
	depends = jansson
	depends = speexdsp
	depends = libsamplerate
	depends = openssl
	depends = curl
	depends = libzip
	depends = rtmidi
	depends = jack
	depends = libpulse
	depends = gtk2
	conflicts = vcvrack
	source = vcvrack::git+https://github.com/VCVRack/Rack.git#branch=master
	source = git+https://github.com/AndrewBelt/osdialog.git
	source = git+https://github.com/AndrewBelt/oui-blendish.git
	source = git+https://github.com/mackron/dr_libs.git
	source = git+https://github.com/memononen/nanosvg.git
	source = git+https://github.com/memononen/nanovg.git
	source = git+https://github.com/glfw/glfw.git
	source = git+https://github.com/thestk/rtaudio.git
	source = vcvrack.sh
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = 535e3f427e92e793e23c153e9dff3f3c85f8d29d42bb0459b12f733bb6c7f726

pkgname = vcvrack-git

