pkgbase = edid-decode-git
	pkgdesc = EDID decoder and conformance tester
	pkgver = r430.1889504
	pkgrel = 1
	url = https://git.linuxtv.org/edid-decode.git/
	arch = i686
	arch = x86_64
	license = MIT
	makedepends = git
	depends = glibc
	provides = edid-decode
	source = git://linuxtv.org/edid-decode.git
	md5sums = SKIP

pkgname = edid-decode-git

